<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CableDB"
            connectionString="Data Source=127.0.0.1;Initial Catalog=CableDB;User ID=sa;Password=AyyLmao0101_"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>